<% include partials/head.ejs %>

<div class="container">
    <h2>TREAT Data Dashboard</h2>
    <a href="<%= loginLink %>">
        <button class="btn btn-primary">Login via I.A.</button>
    </a>
</div>
